.CardContainer{
    margin-top: 50px;
    height: 11rem;
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    box-shadow: gray 3px 3px 3px 1px;
}

.NameImgContainer{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.TypeContainer{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.PokemonCardType{
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px;
    padding: 3%;
    width: auto;    
    
}

.CardID{
    font-weight: bold;
    font-size: larger;

}

#Agua{
    background-color: #5a9ca4;
    color: #ffbc2c;
}

#Fogo{
    background-color: #e53800;
    color: #fed276;
}