<div class="search-container">
  <h1 class="search-title press-start-2p-regular">Escolha o seu pokémon!</h1>
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input class="search-input" type="text" formControlName="name" />
    <button class="search-button">
      <img src="/images/pokebola.png" alt="Pokebola" />
    </button>
  </form>
  <div class="Result">
    @if (showCard) {
      <app-card [name]="pokemonName" [sprite]="sprite"></app-card>
    }
  </div>
</div>